

.form-division-style{
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;

    min-width: 30vw;
    width: auto;
    height: auto;

    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    
}

.form-field-style{
    display: flex;
    flex-direction: column;
}

.form-elements{
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}

#select-style{
    display: flex;
    flex-direction: row;
}

#submit-styles{
    width: 100%;
}