.http-board{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
}

.form-styles{
    display: flex;
    flex-direction: column;
}

#submit-styles{
    width: 100%;
}

.http-board li{
    list-style: none;
}