*{
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  background-color: black;
  width: 100vw;
  height: auto;
  
}

.block-board-style{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
}