.block-style{
  width: 500px;
  height: 400px;
  background-color: white;
  margin: 30px;
}


.block-board-style{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
}